@import url('../css/font.css');

html, body {
	box-sizing: border-box;
	margin: 0%;
	overflow-x: hidden;
}

/* Here we are creating variables */
:root{

	/* Color variables */
	--text-gray: #3f4954;
	--text-light: #686666da;
	--bg-color: #0f0f0f;
	--white: #ffffff;
	--midnight: #104f55;

	/* Gradient variables */
	--sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

	/* font variables */
	--Abel: 'Abel', cursive;
	--Anton: 'Anton', cursive;
	--Josefin: 'Josefin', cursive;
	--Lexend: "Lexend", cursive;
	--Livvic: 'Livvic', cursive;
}

/*------------Global Styles------------*/

a {
	color: var(--text-gray);
	text-decoration: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: var(--Lexend);
	font-size: 2.5rem;
}

h2 {
	font-family: var(--Lexend);
}

h3 {
	font-family: var(--Abel);
	font-size: 1.3rem;
}

button.btn {
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	font-family: var(--Livvic);
	font-size: 1rem;
	padding: 1rem 3rem;
}

span {
	font-family: var(--Abel);
}

p {
	color: var(--text-light);
	font-family: var(--Lexend);
}

.container {
	margin: 0 5vw;
}

.text-gray {
	color: var(--text-gray);
}

/*-----x------Global Styles------x-----*/

/*---------------Navbar-------------- */
.nav {
	background: white;
	height: 0rem;
	min-height: 10vh;
	overflow: hidden;
	padding: 0 2rem;
	transition: height 1s ease-in-out;
}
.nav .nav-menu {
	justify-content: space-between;
}

.nav .toggle-collapse {
	cursor: pointer;
	display: none;
	position: absolute;
	top: 0%;
	width: 90%;
}

.nav .toggle-collapse .toggle-icons {
	display: flex;
	justify-content: flex-end;
	padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
	color: var(--text-gray);
	font-size: 1.4rem;
}

.collapse {
	height: 30rem;
}

.nav .nav-items {
	display: flex;
	margin: 0;
}

.nav .nav-items .nav-link {
	font-family: var(--Abel);
	font-size: 1.1rem;
	padding: 1.6rem 1rem;
	position: relative;
}

.nav .nav-items .nav-link:hover {
	background-color: var(--midnight);	
}

.nav .nav-items .nav-link:hover a {
	color: var(--white);
}

.nav .nav-brand a {
	display: block;
	font-family: var(--Lexend);
	font-size: 1.6rem;
	padding: 1rem 0;
}

.nav .social {
	padding: 1.4rem 0;
}

.nav .social i {
	padding: 0 0.2rem;
}

.nav .social i:hover {
	color: #a1c4cf;
}
/*-------x-------Navbar-------x------ */

/*---------------Main Content------------------*/

/*----------------Site Title---------------*/

main .site-title {
	background: url('../assets//Background-image.png');
	background-size: cover;
	display: flex;
	height: 110vh;
	justify-content: center;
}

main .site-title h1, h3 {
	margin: 0.3rem;
}

main .site-title .btn {
	background: var(--sky);
	margin: 1.7rem;
}

main .site-title .btn:hover {
	background: transparent;
	border: 1px solid var(--white);
	color: var(--white);
}

main .site-title .site-background {
	color: var(--white);
	padding-top: 10rem;
	text-align: center;
}

/*--------x-------Site Title-------x-------*/

/*---------------Blog Carousel-------------*/
main .blog {
	background: url('../assets/Abract01.png');
	background-position: 100% 0%;
	background-repeat: no-repeat;
	background-size: 66%;	
	height: 100vh;
	width: 100%;
}

main .blog .blog-post {
	padding-top: 12rem;
}

main .blog-post .blog-content {
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	margin: 3rem 2rem;
	text-align: center;
	width: 80%;
}

main .blog-content .blog-title {
	padding: 2rem 0;
}

main .blog-content .btn-blog {
	background: var(--sky);
	margin: .5rem;
	padding: .7rem 2rem;
}

main .blog-content span {
	display: block;
}

section .container .owl-nav {
	margin: 0 auto;
	position: absolute;
	top: 20%;
	width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
	background: transparent;
	color: var(--text-gray);
	font-size: 2rem;
}

.owl-theme .owl-nav [class *= 'owl-']:hover {
	background: transparent;
	color: var(--midnight);
}

.owl-theme .owl-nav [class *= 'owl-'] {
	outline: none;
}

/*------x--------Blog Carousel-------x-----*/

/*---------------Site Content--------------*/

main .site-content {
	display: grid;
	grid-template-columns: 70% 30%;
}

main .post-content {	
	width: 100%;
}

main .site-content .post-content > .post-image, .post-title {
	padding: 1rem 2rem;
	position: relative;
}

main .site-content .post-content > .post-image .post-info {
	background: var(--sky);
	bottom: 0%;
	border-radius: 3rem;
	left: 22vw;
	padding: 1rem;
	position: absolute;
}

main .site-content .post-content > .post-image > div {
	overflow: hidden;
}

main .site-content .post-content > .post-image .img {
	transition: all 1s ease;
	width: 100%;
}

main .site-content .post-content > .post-image .img:hover {
	transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info > span {
	margin: .5rem;
}

main .post-content .post-title a {
	font-family: var(--Anton);
	font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
	background: var(--sky);
	border-radius: 0;
	padding: .7rem 1.5rem;
}

/*----------------Pagination---------------*/
.site-content .pagination {
	color: var(--text-gray);
	justify-content: center;
	margin: 3.5rem 0;
}

.site-content .pagination a {
	border-radius: 2rem;
	font-family: var(--Lexend);
	margin: 0 .3rem;
	padding: .6rem .9rem;
}

.site-content .pagination .pages {
	background: var(--text-gray);
	color: var(--white);
}

/*-------x--------Pagination--------x------*/

/*-------x-------Site Content-------x------*/

/* --------------- Sidebar ----------------------- */

.site-content > .sidebar .category-list {
	font-family: var(--Livvic);   
}

.site-content > .sidebar .category-list .list-item {
	background: var(--sky);
	border-radius: 3rem;
	display: flex;
	justify-content: space-between;
	margin: .8rem 0;
	padding: .4rem 1rem;	
	width: 70%;
}

.site-content > .sidebar .category-list .list-item a {
	color:  black;
}

.site-content .sidebar .popular-post .post-content {
	padding: 1rem 0;
}

.site-content .sidebar .popular-post h2{
	padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
	background: white !important;
	border-radius: 0rem !important;
	bottom: 0rem !important;
	left: 1.5rem !important;
	padding: .4rem .1rem !important;

}

.site-content .sidebar .popular-post .post-title a {
	font-size: 1rem;
}

.site-content .sidebar .newletter{
	padding-top: 10rem;
}

.site-content .sidebar .newletter .form-element {
	padding: .5rem 2rem;
}

.site-content .sidebar .newletter .input-element {
	font-family: var(--Lexend);
	font-size: 1rem;	
	height: 1.9rem;
	padding: .3rem .5rem;
	width: 80%;
}

.site-content .sidebar .newletter .form-button {
	background: var(--sky);
	border-radius: 0;
	margin: 1rem 0;
	padding: .8rem 32%;
}

.site-content .sidebar .popular-tags {
	padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
	background: var(--sky);
	border-radius: 3rem;
	margin: .4rem .6rem;
	padding: .4rem 1rem;
}


/* -------x------- Sidebar -----------x----------- */

/* ----------------- Footer --------------------- */

footer.footer {
	background: var(--bg-color);
	height: 100%;	
	position: relative;
}

footer.footer .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div {
	flex-basis: 0;
	flex-grow: 1;
	padding: 3rem .9rem;
}

footer.footer .container h2 {
	color: var(--white);
}

footer.footer .newsletter .form-element {
	background: black;
	display: inline-block;
}

footer.footer .newsletter .form-element input {
	background: transparent;
	border: none;	
	color: white;
	font-family: var(--Josefin);
	font-size: 1rem;
	padding: .5rem .7rem;
	width: 74%;
}

footer.footer .newsletter .form-element span {
	background: var(--sky);
	cursor: pointer;
	padding: .5rem .7rem;
}

footer.footer .instagram div > img {
	display: inline-block;
	height: 50%;
	margin: .3rem .4rem;
	width: 25%;
}

footer.footer .follow div i {
	color: var(--white);
	padding: 0 .4rem;
}

footer.footer .rights {
	font-family: var(--Josefin);
	justify-content: center;
}

footer.footer .rights h4 a {
	color: var(--white);
}

footer.footer .move-up {
	position: absolute;
	right: 6%;
	top: 50%;
}

footer.footer .move-up span {
	color: var(--midnight);
}

footer.footer .move-up span:hover {
	color: var(--white);
	cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */


/*-------x-------Main Content--------x---------*/


/* --------------Media Queries--------------*/

/*--------------Viewport less then or equal to 1130px--------------*/

@media only screen and (max-width: 1130px) {

	.site-content .post-content > .post-image .post-info {
		bottom: 1.2rem !important;
		border-radius: 0% !important;
		left: 2rem !important;
	}

	.site-content .sidebar .popular-post .post-info {
		display: none !important;
	}

	footer.footer .container {
		grid-template-columns: repeat(2, 1fr);
	}

}

/*-------x------Viewport less then or equal to 1130px-------x------*/

@media only screen and (max-width: 750px) {
	.nav .nav-menu, .nav .nav-items {
		flex-direction: column;
	}

	.nav .toggle-collapse {
		display: initial;
	}

	main .site-content {
		grid-template-columns: 100%;
	}

	footer.footer .container{
		grid-template-columns: repeat(1, 1fr);
	}

}

/*----------------Viewport less then or equal to 520px--------------------*/

@media only screen and (max-width: 520px) {

	main .blog{
		height: 125vh;
	}

	.site-content .post-content > .post-image .post-info {
		display: none;
	}

	footer.footer .container > div {
		padding:  1rem .9rem !important;
	}

	footer .rights {
		padding: 0 1.4rem;
		text-align: center;
	}

	nav .toggle-collapse {
		width: 80% !important;
	}

}

/*-------x--------Viewport less then or equal to 520px-----------x--------*/

/* ------x-------Media Queries-------x------*/


